/* Шрифт */
@font-face {
    font-family: "MyMontserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyMontserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: "MyMontserrat";
    font-weight: bold;
}

body {
    background-color: bisque;
}

/* Контейнер, внутри которого хранится весь контент */
.container {
    width: 80%;
    margin: 0 auto;
}

/* 1 rem = 16px */
/* 1 em = 16px */

/* Название главного заголовка */
.task-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

/* Убираем видимость radio */
.accordion-item__input {
    display: none;
}

/* Стили для label */
.content-label {
    cursor: pointer;
}

/* Секция, которая содержит в себе текст мема и иконку */
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3rem;
    padding: 0.5rem 0.4rem 0.5rem 0.4rem;
    background-color: rgb(27, 228, 121);
}

/* Отступ от текста до иконки */
.accordion-header__text {
    margin-right: 1rem;
    max-width: 85%;
}

/* Иконки для label */
.accordion-header__icon-down {
    width: 1rem;
    fill: black;
    transition: all 1s 0.25s;
}

/* Секция, в которую вставляется фотография мема */
.accordion-content {
    max-height: 0;
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
    transition: all 1s;
}

/* Сама фотография мема */
.accordion-content__image {
    max-height: 0;
    width: 100%;
    transition: all 0.5s;
}

/* Активируем появление контента, когда checked */
.accordion-item__input:checked ~ .content-label .accordion-content {
    max-height: 100vh;
    border: 0.1rem solid black;
    border-top: none;
    padding: 0.4rem;
    transition: all 1s;
}

.accordion-item__input:checked ~ .content-label .accordion-content__image {
    max-height: 100vh;;
    transition: all 1s;
}

/* Активируем появление иконки, когда checked */
.accordion-item__input:checked ~ .content-label .accordion-header__icon-down {
    transform: rotate(0.5turn);
    transition: transform 1s 0.25s;
}

/* Стили что происходят при клике */
.accordion-item:active {
    opacity: 0.8;
}

.accordion-item:active .accordion-header__text {
    color: blue;
}

.content-label:active svg{
    fill: blue;
    transition: fill;
}

/* === Под планшеты ===*/

@media (device-width: 820px) {
    
    body {
        background-color: cadetblue;
    }

    /* Название главного заголовка */
    .task-title {
        font-size: 4em;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }

    /* Секция, которая содержит в себе текст мема и иконку */
    .accordion-header {
        padding: 1.5rem 1.4rem 1.5rem 1.4rem;
        border-radius: 1rem;
    }

    /* Отступ от текста до иконки и текст*/
    .accordion-header__text {
        max-width: 90%;
        font-size: 1.5rem;
    }

    /* Иконки для label */
    .accordion-header__icon-down {
        width: 1.5rem;
        fill: black;
        transition: all 1s 0.25s;
    }

    .accordion-item:last-child {
        padding-bottom: 2rem;
    }
}

/* === Под desktop ===*/